.form-text-area,
.form-text-field {
	border: 1px solid #d0d0d0;
	padding: 7px 10px;
}

.form-text-area:focus,
.form-text-field:focus {
	background-color: #fee9c3;
	outline-width: 0;
}

.form-text-area {
	box-sizing: border-box;
	width: 100%;
}
.form-text-area-answer {
	border: none;
	font-weight: bold;
	font-style: italic;
	color: #370617;
	width: 100%;
}
